body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: white;
}

.tab a {
  text-decoration: none;
  color: black;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2.5px solid white;
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  border-bottom: 2.5px solid #3297fd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.sectionTitle {
  margin: 0;
  text-align: start;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
}

.redDot {
  color: red;
  font-size: 32px;
}

.section-left {
  width: 50%;
}

.section-left-2 {
  width: 65%;
  margin-right: 24px;
}

.section-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  max-height: 320px;
}

ul {
  list-style: circle;
}

li {
  margin-bottom: 16px;
}

.form-card {
  margin: 16px 32px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px rgb(173, 173, 173);
}

.input {
  display: block;
  width: calc(100% - 48px);
  margin: 20px 0;
  padding: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
}

.form-card-title {
  font-family: "Calligraffitti";
  font-size: 36px;
  font-weight: 800;
  color: #3297fd;
}

.card-sub-title {
  margin-bottom: 24px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  display: flex;
  font-family: "Poppins";
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #3297fd;
  background: rgb(20, 135, 251);
  background: linear-gradient(
    90deg,
    rgba(20, 135, 251, 1) 17%,
    rgba(96, 173, 251, 1) 77%
  );

  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}
